<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Daytrip</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
    <link rel="icon" href="./img/favicon.png" type="image/x-icon">
  </head>

  <body>

    <div class="container">
      <h1>Daytrip - Find destinations for your next daytrip!</h1>
  
      <form id="destination-form">
        <div class="form-group">
          <label for="address-input">Address</label>
          <input type="text" class="form-control" id="address-input" name="address">
        </div>
        <div class="form-group">
          <label for="time-input">Time Budget (in hours)</label>
          <input type="text" class="form-control" id="time-input" name="timeBudgetInHour">
        </div>
        <div class="form-group">
          <label for="date-input">Date</label>
          <input type="date" class="form-control" id="date-input" name="date">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Find Destinations</button>
        <br>
      </form>
      <br><br>
      <div id="destination-cards" style="text-align:center;"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    <script>
      const destinationForm = document.getElementById('destination-form');
      const destinationCards = document.getElementById('destination-cards');
  
      destinationForm.addEventListener('submit', (event) => {
        event.preventDefault();

        destinationCards.innerHTML = '<div style="width: 800px; height: 800px; margin: auto; margin-top: 1rem; position: relative; overflow: hidden;"> <img src="./img/loading.gif" alt="loading" style="width: 100%; height: auto; display: block; position: absolute; top: 25%; left: 50%; transform: translate(-50%, -50%); border-radius: 50%; clip-path: circle(25% at center);"> </div>';

        const formData = new FormData(destinationForm);
        const address = formData.get('address');
        const timeBudgetInHour = formData.get('timeBudgetInHour');
        const date = formData.get('date');
  
        const url = `http://localhost/best_destinations_service/api/destinations/best?address=${address}&timeBudgetInHour=${timeBudgetInHour}&date=${date}`;
  
        fetch(url)
          .then(response => response.json())
          .then(data => {
            destinationCards.innerHTML = '';
            
            //check if status field is error
            if(data.status == 'error'){
              const card = document.createElement('div');
              card.classList.add('card');
              card.classList.add('mb-3');
  
              const cardBody = document.createElement('div');
              cardBody.classList.add('card-body');
  
              const cardTitle = document.createElement('h5');
              cardTitle.classList.add('card-title');
              cardTitle.innerText = data.message;
  
              cardBody.appendChild(cardTitle);
              card.appendChild(cardBody);
              destinationCards.appendChild(card);
            } 
            else if(data.status == "fail") {
              const card = document.createElement('div');
              card.classList.add('card');
              card.classList.add('mb-3');
  
              const cardBody = document.createElement('div');
              cardBody.classList.add('card-body');
  
              const cardTitle = document.createElement('h5');
              cardTitle.classList.add('card-title');
              cardTitle.innerText = data.data;
  
              cardBody.appendChild(cardTitle);
              card.appendChild(cardBody);
              destinationCards.appendChild(card);

            }
            else{
              destinations = data.data.destinations;
              
              destinations.forEach(destination => {
                
                const card = document.createElement('div');
                card.classList.add('card');
                card.classList.add('mb-3');
                

                card.style.width = "30rem";
                card.style.height = "auto";

                //center the card
                card.style.margin = "auto";
                card.style.marginTop = "2rem";
                card.style.marginBottom = "2rem";

                const cardBody = document.createElement('div');
                cardBody.classList.add('card-body');
                cardBody.classList.add('mx-auto');
                cardBody.classList.add('d-block');
    
                const cardTitle = document.createElement('h5');
                cardTitle.classList.add('card-title');
                cardTitle.innerText = destination.name;
                cardTitle.style.marginTop = "1rem";
    
                const cardText = document.createElement('p');
                cardText.classList.add('card-text');
                cardText.innerText = destination.description;
                cardText.style.marginTop = "1rem";

                //add image
                const cardImage = document.createElement('img');
                //round all corners
                cardImage.classList.add('card-img-top');
                cardImage.classList.add('rounded');
                cardImage.classList.add('mx-auto');
                cardImage.classList.add('d-block');

                cardImage.src = destination.image_url;
                cardImage.alt = destination.name;
                
                cardImage.style.width = "25rem";
                cardImage.style.height = "15rem";
                cardImage.style.marginTop = "1rem";
                
                //add rank to the card
                const cardRank = document.createElement('p');
                cardRank.classList.add('card-text');
                cardRank.innerText = "Rank #" + destination.rank;
                cardRank.style.fontWeight = "bold";
                cardRank.style.fontSize = "1.5rem";

                //add a google maps link to the card
                const cardDirections = document.createElement('a');
                cardDirections.classList.add('card-text');
                cardDirections.innerText = "Directions (Google Maps)";
                
                cardDirections.href = "https://www.google.com/maps/dir/?api=1&origin=" + address + "&destination=" + destination.name;

                cardDirections.target = "_blank";
                cardDirections.style.fontWeight = "bold";

                // create a div to hold the rating system
                const ratingContainer = document.createElement("div");
                ratingContainer.classList.add("rating-container");

                // create a function to update the rating based on the provided score
                function updateRating(score) {
                  for (let i = 0; i < 10; i++) {
                    if (i < score) {
                      stars[i].classList.add("fas");
                      stars[i].classList.remove("far");
                    } else {
                      stars[i].classList.add("far");
                      stars[i].classList.remove("fas");
                    }
                  }
                }

                // create an array to hold the star icons
                const stars = [];

                // create five star icons and add them to the rating container
                for (let i = 0; i < 10; i++) {
                  const star = document.createElement("i");
                  star.classList.add("star", "far", "fa-star");
                  ratingContainer.appendChild(star);
                  stars.push(star);
                }

                stars.forEach(star => {
                  star.style.color = "gold";
                });

                // set the size of the stars
                stars.forEach(star => {
                  star.style.fontSize = "2rem";
                });

                
                const roundedRating = Math.round(destination.rating * 10);
                updateRating(roundedRating);

                cardBody.appendChild(cardRank);
                cardBody.appendChild(ratingContainer);
                cardBody.appendChild(cardImage);
                cardBody.appendChild(cardTitle);
                cardBody.appendChild(cardText);
                cardBody.appendChild(cardDirections);
                
                card.appendChild(cardBody);
                destinationCards.appendChild(card);
              });
            }
          })
          .catch(error => {
            console.error(error);        
          });
      });
    </script>
  </body>
</html>
