<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Daytrip</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  </head>

  <body>

    <div class="container">
      <h1>Daytrip - Find destinations for your next daytrip!</h1>
  
      <form id="destination-form">
        <div class="form-group">
          <label for="address-input">Address</label>
          <input type="text" class="form-control" id="address-input" name="address">
        </div>
        <div class="form-group">
          <label for="time-input">Time Budget (in hours)</label>
          <input type="text" class="form-control" id="time-input" name="timeBudgetInHour">
        </div>
        <div class="form-group">
          <label for="date-input">Date</label>
          <input type="date" class="form-control" id="date-input" name="date">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Find Destinations</button>
        <br>
      </form>
      <br><br>
      <div id="destination-cards"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    
    <script>
      const destinationForm = document.getElementById('destination-form');
      const destinationCards = document.getElementById('destination-cards');
  
      destinationForm.addEventListener('submit', (event) => {
        event.preventDefault();
        const formData = new FormData(destinationForm);
        const address = formData.get('address');
        const timeBudgetInHour = formData.get('timeBudgetInHour');
        const date = formData.get('date');
  
        const url = `http://localhost/best_destinations_service/api/destinations/best?address=${address}&timeBudgetInHour=${timeBudgetInHour}&date=${date}`;
  
        fetch(url)
          .then(response => response.json())
          .then(data => {
            destinationCards.innerHTML = '';
            
            //check if status field is error
            if(data.status == 'error'){
              const card = document.createElement('div');
              card.classList.add('card');
              card.classList.add('mb-3');
  
              const cardBody = document.createElement('div');
              cardBody.classList.add('card-body');
  
              const cardTitle = document.createElement('h5');
              cardTitle.classList.add('card-title');
              cardTitle.innerText = data.message;
  
              cardBody.appendChild(cardTitle);
              card.appendChild(cardBody);
              destinationCards.appendChild(card);
            } 
            else if(data.status == "fail") {
              const card = document.createElement('div');
              card.classList.add('card');
              card.classList.add('mb-3');
  
              const cardBody = document.createElement('div');
              cardBody.classList.add('card-body');
  
              const cardTitle = document.createElement('h5');
              cardTitle.classList.add('card-title');
              cardTitle.innerText = data.data;
  
              cardBody.appendChild(cardTitle);
              card.appendChild(cardBody);
              destinationCards.appendChild(card);

            }
            else{
              destinations = data.data.destinations;
              destinations.forEach(destination => {

                console.log(destination);

                const card = document.createElement('div');
                card.classList.add('card');
                card.classList.add('mb-3');

                card.style.width = "30rem";
                card.style.height = "30rem";

                //center the card
                card.style.margin = "auto";
                card.style.marginTop = "2rem";
                card.style.marginBottom = "2rem";

                const cardBody = document.createElement('div');
                cardBody.classList.add('card-body');
    
                const cardTitle = document.createElement('h5');
                cardTitle.classList.add('card-title');
                cardTitle.innerText = destination.name;
    
                const cardText = document.createElement('p');
                cardText.classList.add('card-text');
                cardText.innerText = destination.description;

                //add image
                const cardImage = document.createElement('img');
                cardImage.classList.add('card-img-top');
                cardImage.src = destination.image_url;
                cardImage.alt = destination.name;
                
                //resize the image that must be a landscape and fit the card
                cardImage.style.width = "25rem";
                cardImage.style.height = "auto";
                 
                //add rank to the card
                const cardRank = document.createElement('p');
                cardRank.classList.add('card-text');
                cardRank.innerText = "Rank: " + destination.rank;
                cardRank.style.fontWeight = "bold";

                //add rating to the card
                const cardRating = document.createElement('p');
                cardRating.classList.add('card-text');
                cardRating.innerText = "Rating: " + destination.rating;
                cardRating.style.fontWeight = "bold";

                //add a google maps link to the card
                const cardDirections = document.createElement('a');
                cardDirections.classList.add('card-text');
                cardDirections.innerText = "Directions (Google Maps)";
                
                cardDirections.href = "https://www.google.com/maps/dir/?api=1&origin=" + address + "&destination=" + destination.name;

                cardDirections.target = "_blank";
                cardDirections.style.fontWeight = "bold";

                cardBody.appendChild(cardRank);
                cardBody.appendChild(cardRating);
                cardBody.appendChild(cardImage);
                cardBody.appendChild(cardTitle);
                cardBody.appendChild(cardText);
                cardBody.appendChild(cardDirections);

                card.appendChild(cardBody);
                destinationCards.appendChild(card);
              });
            }
          })
          .catch(error => {
            console.error(error);        
          });
      });
    </script>
  </body>
</html>
