<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Daytrip</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
    <link rel="icon" href="./img/favicon.png" type="image/x-icon">
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          
          <a class="navbar-brand" href="/">Daytrip</a>          

        </div>
          <div class="nav navbar-nav navbar-right" id="nav_right_div">
            <a href="/login"><button type="button" class="btn btn-outline-secondary btn-small btn-nav">Login</button></a>
            <br>
            <a href="/register"><button type="button" class="btn btn-primary btn-small btn-nav">Sign up</button></a>
          </div>
      </div>
    </div>

    <div class="container">
      <h1>Daytrip - Find destinations for your next daytrip!</h1>
  
      <form id="destination-form">
        <div class="form-group">
          <label for="address-input">Address</label>
          <input type="text" class="form-control" id="address-input" name="address">
        </div>
        <div class="form-group">
          <label for="time-input">Time Budget (in hours)</label>
          <input type="text" class="form-control" id="time-input" name="timeBudgetInHour" value="2">
        </div>
        <div class="form-group">
          <label for="date-input">Date</label>
          <input type="date" class="form-control" id="date-input" name="date">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Find Destinations</button>
        <br>
      </form>
      <br><br>
      
      <div id="div_info" class="text-center" hidden>
        <h4>Destinations are ranked real-time using a number of factors</h4>
      </div>
      
      <div id="destination-cards" style="text-align:center;"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    
    <script src="/js/cookie_management.js"></script>
    <script src="/js/homepage.js"></script>
  </body>
</html>
